.center_vertical {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center_horizontal {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.responsive {
  width: 100%;
  height: auto;
}
