.welcomeText {
  padding: 10px;
  text-align: center;

  color: var(--primary_text_color);
}

.center {
  margin: auto;
  width: calc(100% - 10px);
  /* @TODO: Find a solution that doesn't exclude a longer list */
  overflow: hidden;
}

/* only horizontal */
@media (min-width: 760px) {
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* center the buttons vertical too */
.linksWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  column-gap: 15px;
  row-gap: 10px;
}

.linkButton {
  display: block;
  text-align: center;
  padding: 8px 16px;

  border: 2px var(--accent_color) solid;
  border-radius: 25px;
}

.linkButton:hover {
  box-shadow: 0 3px rgba(0, 0, 0, 0.30);
}

.linkButton a {
  text-decoration: none;
  color: var(--primary_color);
}
