<div class="center">
  <h2 class="welcomeText">
    Hey! 👋 Here you can find all my Accounts 📱 and other things 📂 which may be relevant
  </h2>
  <div class="linksWrapper">
    <div *ngFor="let link of links" class="linkButton">
      <a
        routerLink="/links/{{link.toLowerCase().split(' ')[0]}}">
        {{link}}
      </a>
    </div>
  </div>
</div>
