.answer {
  border-color: var(--accent_color);
  background-color: transparent;
  border-radius: 25px;
  padding: 10px;
  font-size: var(--large);

  /* center the block */
  display: block;
  margin: auto 40px 50px 15px;
  width: calc(50vw - 55px);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.question {
  text-align: center;

  font-size: calc(var(--large) + 0.5vw);
  font-weight: bold;
  color: var(--primary_text_color);
}

/* fixing overlapping */
.submit_left,
.submit_right,
.links_redirect {
  margin-top: 10px;
  bottom: 0;
  position: fixed;
  width: fit-content;
}

.submit_right {
  right: 0;
}

.submit_left {
  left: 0;
}

.links_redirect {
  margin-top: 15px;
  left: 0;
  width: calc(53vw - 55px);
  right: 0;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px transparent solid;
  position: relative;
}

.information {
  color: var(--primary_color);
  font-weight: normal;
  margin-top: 5px;
  text-align: center;
}

.submit_right,
.submit_left,
.links_redirect {
  border: 2px var(--accent_color) solid;
  border-radius: 20px;
  color: var(--primary_text_color);
  padding: 5px 15px;
  background-color: transparent;
}

.submit_right:hover,
.submit_left:hover,
.links_redirect:hover {
  box-shadow: 0 1px rgba(0, 0, 0, 0.30);
}
