<div class="center">
  <div *ngIf="pages['welcome']" class="field">
    <p class="question">Hey! 👋 What's your name?</p>
    <input
      (keyup)="onKey('name', $event)"
      placeholder="Hind"
      class="answer">
    <button
    class="submit_left"
    routerLink="/imprint"
    >Imprint 🗒
    </button>
    <button
      (click)="onButton('contacts', 'welcome', 'next', $event)"
      class="submit_right"
    >➡</button>
  </div>

  <div *ngIf="pages['contacts']" class="field">
    <p class="question">Okay {{fields["name"]}}, so how could I contact you? 📧</p>
    <input
      (keyup)="onKey('contactWay', $event)"
      placeholder="Mail: hind@example.com"
      class="answer">
    <button
      (click)="onButton('welcome', 'contacts', 'previous', $event)"
      class="submit_left"
    >⬅</button>
    <button
      (click)="onButton('reason', 'contacts', 'next',$event)"
      class="submit_right"
    >➡</button>
  </div>

  <div *ngIf="pages['reason']" class="field">
    <p class="question">Finally, why you're contacting me? 🤔</p>
    <p class="information" *ngIf="submitStatus">Your request has been submitted ✔</p>
    <p class="information" *ngIf="failed" routerLink="/links">The request has been blocked 🧱, you might check out my <u>links</u> 🖇</p>
    <input
      (keyup)="onKey('topic', $event)"
      placeholder="I want to collaborate with you :3"
      spellcheck="true"
      class="answer">
    <button
      *ngIf="!submitStatus"
      (click)="onButton('contacts', 'reason', 'previous', $event)"
      class="submit_left"
    >⬅</button>
    <button
      *ngIf="!submitStatus"
      (click)="submit()"
      class="submit_right"
    >📧</button>
    <div
      *ngIf="submitStatus"
      routerLink="/links"
      class="links_redirect"
    >Goto Links? 📱</div>
  </div>
</div>
