<div class="wrapper">
  <ul>
    <li><a routerLink="/home">
      <fa-icon [icon]="home"></fa-icon> Home</a>
    </li>
    <li><a routerLink="/links">
      <fa-icon [icon]="links"></fa-icon> Links</a>
    </li>
    <li><a routerLink="/contact">
      <fa-icon [icon]="contact"></fa-icon> Contact</a>
    </li>
  </ul>

  <router-outlet></router-outlet>

  <footer class="footer">Made with ❤️ in 🇩🇪 by Adam Brangenberg © in {{ date }}</footer>
</div>
