.wrapper {
  margin: 0;
  padding: 0;
}

router-outlet {
  overflow-wrap: break-word;
  overflow-y: scroll;
}

/* navbar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary_color);
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--secondary_text_color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--accent_color);
}

li:last-child {
  border-right: none;
  float: right;
  background: var(--secondary_color);
  background-color: var(--accent_color);
}

li:last-child a:hover {
  background-color: var(--primary_color);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--primary_color);
  color: var(--secondary_text_color);
  text-align: center;
  padding: 5px;
}
