<div class='center'>
  <div [hidden]="lang === 'de-DE'">
    <h1>Imprint</h1>
    <p>Data according to § 5 Telemedia Act</p>
    <p>Adam Brangenberg <br>
      Hindenburgdamm 86<br>
      12203 Berlin <br>
    </p>
    <p>
      <strong>Represented by: </strong>
      <br>Adam Brangenberg<br>
    </p>
    <p>
      <strong>Contact:</strong>
      <br>Telefone: +49-17664469135<br>
      E-Mail: <a href='mailto:adambrangenberg@proton.me'>adambrangenberg@proton.me</a><br>
    </p>
    <p>
      <strong>Responsible for the content according to § 18 Abs. 2 MStV:</strong>
      <br>Adam Brangenberg <br>
      Hindenburgdamm 86<br>
      12203 Berlin <br>
    </p>
    <p>
      <strong>Disclaimer: </strong>
      <br><br>
      <strong>Liability for links</strong>
      <br><br>
      Our offer contains links to external websites of third parties, on whose contents we have no influence. Therefore
      we cannot assume any liability for these external contents. For the content of the linked pages is always the
      the respective provider or operator of the pages. The linked pages were checked for possible legal
      checked for possible legal violations at the time of linking. Illegal contents were not recognizable at the time of linking.
      recognizable at the time of linking. However, a permanent control of the linked pages is not possible without concrete evidence of an infringement.
      of a
      infringement is not reasonable. If we become aware of any infringements of the law, we will remove such links immediately.
      remove them.
      <br><br>
      <strong>Copyright</strong>
      <br><br>
      The content and works created by the site operators on these and external sites are subject to the
      German
      copyright law.
      The reproduction, processing, distribution and any kind of exploitation outside the limits of the
      copyright
      require the written consent of the respective author or creator. Downloads and copies of this site
      are
      permitted only for private, non-commercial use. Insofar as the contents of this site were not
      operator, the copyrights of third parties are respected. In particular, the contents of third parties are
      such
      marked as such. Should you nevertheless become aware of a copyright infringement, please inform us accordingly.
      appropriate reference. If we become aware of any infringements, we will remove such content immediately.
    </p>
  </div>

  <!-- German Part -->
  <div [hidden]="lang !== 'de-DE'">
    <h1>Impressum</h1>
    <p>Angaben gemäß § 5 TMG</p>
    <p>Adam Brangenberg <br>
      Hindenburgdamm 86<br>
      12203 Berlin <br>
    </p>
    <p>
      <strong>Vertreten durch: </strong>
      <br>Adam Brangenberg<br>
    </p>
    <p>
      <strong>Kontakt:</strong>
      <br>Telefon: +49-17664469135<br>
      E-Mail: <a href='mailto:adambrangenberg@proton.me'>adambrangenberg@proton.me</a><br>
    </p>
    <p>
      <strong>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:</strong>
      <br>Adam Brangenberg <br>
      Hindenburgdamm 86<br>
      12203 Berlin <br>
    </p>
    <p>
      <strong>Haftungsausschluss: </strong>
      <br><br>
      <strong>Haftung für Links</strong>
      <br><br>
      Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb
      können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets
      der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der
      Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht
      erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte
      einer
      Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend
      entfernen.
      <br><br>
      <strong>Urheberrecht</strong>
      <br><br>
      Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen und externen Seiten unterliegen dem
      deutschen
      Urheberrecht.
      Die Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen des
      Urheberrechtes
      bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw. Erstellers. Downloads und Kopien dieser Seite
      sind
      nur für den privaten, nicht kommerziellen Gebrauch gestattet. Soweit die Inhalte auf dieser Seite nicht vom
      Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als
      solche
      gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen
      entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.
    </p>
  </div>
</div>

