.center {
  display: flex;
  justify-content: left;
  flex-direction: column;

  width: 50%;
  padding: 0 25%;

  font-size: calc(var(--large) - 5px);
  color: var(--primary_color);

  /* activating text selection */
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.center strong {
  color: var(--primary_text_color)
}

@media (max-width: 40rem) {
  .center {
    padding: 0 10px;
    width: calc(100vw - 20px);
  }
}
