/* You can add global styles to this file, and also import other style files */
body {
  background-color: var(--secondary_color);
  font-family: "Roboto:400", "OpenSans", sans-serif;

  /* Disable selection */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* fixing some relations stuff */
  margin: 5px;
  padding: 0;
  border: 0;

  /* handling overflow */
  overflow-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Declaring variables */
:root {
  --primary_text_color: black;
  --primary_color: #333333;
  --secondary_color: antiquewhite;
  --secondary_text_color: antiquewhite;
  --accent_color: #6C7D47;


  --xxx-large: 3rem;
  --large: 1.2rem;
}
