.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.mainTitle {
  font-size: var(--xxx-large);
  text-align: center;
  font-weight: bold;
  color: var(--primary_text_color);
}

.subTitle {
  font-size: var(--large);
  text-align: center;
  color: var(--primary_color);
  font-weight: normal;

  margin-top: 15px;
}
